<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Register</h5>
    <div class="form-floating mb-3 mt-20">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Name</label>
    </div>
    <div class="form-floating mb-3 mt-20">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto mt-20">
      <button (click)="register()" class="btn btn-primary" type="button">Submit</button>
    </div>
  </div>
</div>