<div class="container">
    <div class="leftmenu">
        <h3>List</h3>
        <div class="ul-scroll">
            <ul>
                <li *ngFor="let tsk of todo" (click)="getTask(tsk._id)">
                    {{tsk.title}}
                </li>
            </ul>
        </div>
        <button (click)="createlist()">Create List</button>
    </div>
    <div class="right-menu">
        <h3>Task</h3>
        <!-- <app-create-title></app-create-title> -->
        <div class="ul-scroll">
            <div class="todo-items" *ngFor="let sbTsk of subTask">
                <div class="todo">
                    <p>{{sbTsk.title}}</p>
                    <div class="btns">
                        <img (click)="deleteTask(ListId,sbTsk._id)" src="./../../../assets/delete.png" alt="Delete">
                        <img (click)="updateTask(ListId,sbTsk._id)" class="ml-10" src="./../../../assets/icons8-edit-30.png" alt="Edit">
                    </div>
                </div>
            </div>
        </div>
        <button class="delete-list-btn" (click)="deleteList(ListId)">Delete List</button>
        <button class="create-task-btn" (click)="CreateTask()">Create Task</button>
    </div>
</div>


<div *ngIf="toolTip" class="tool-tip">
    <div class="tooltip-container">
        <input type="text" [(ngModel)]="inputValue" placeholder="Enter value">
        <button (click)="getValue()">Get Value</button>
    </div>
</div>